SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Charging", RUN+="/home/hrushi/.dotfiles/scripts/charger_udev.sh true"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", RUN+="/home/hrushi/.dotfiles/scripts/charger_udev.sh false"
